@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Estilo global */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('imagens/noite.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header e Navegação */
header.nome {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

h1.giovanni {
    margin: 0;
    padding: 20px 0;
    color: #efddc3;
    font-size: 80px;
    font-weight: bold;
}

nav.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

nav.menu button {
    font-family: 'Kaushan Script', sans-serif;
    background: linear-gradient(to right, #0b082c00, #f7f7f700);
    border: none;
    color: #efddc3;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

nav.menu button:hover {
    background: linear-gradient(to right, #0b082c33, #f7f7f733);
    color: #857fa0;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

nav.menu a {
    text-decoration: none;
    color: inherit;
}

/* Imagem e Boas-vindas */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.imgperfil img {
    width: 300px;
    height: auto;
    padding-right:250px;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.imgperfil img:hover {
    opacity: 2;
    transform: scale(1.05);
}

.boasvindas {
    max-width: 600px;
    text-align: rigth;
    color: #efddc3;
}

.boasvindas h2 {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

.boasvindas p {
   
    font-size: 35px;
    line-height: 1.6;
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 16px;
}

/* Responsividade */
@media (max-width: 768px) {
    h1.giovanni {
        font-size: 30px;
    }

    nav.menu button {
        font-size: 18px;
        padding: 8px 15px;
    }

    main {
        flex-direction: column;
    }

    .boasvindas {
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1.giovanni {
        font-size: 25px;
    }

    nav.menu button {
        font-size: 16px;
        padding: 5px 10px;
    }

    .boasvindas p {
        font-size: 16px;
    }
}
